<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.mattsaunders.apps.dexterous" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/luxury"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IVCalculator"
            android:label="@string/title_activity_ivcalculator"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PokeDetailsTabs"
            android:label="@string/title_activity_poke_details_tabs"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BreedingToolsActivity"
            android:label="@string/title_activity_breeding_tools"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BattleToolsActivity"
            android:label="@string/title_activity_battle_tools"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TeamBuilder"
            android:label="@string/title_activity_team_builder" >
        </activity>
    </application>

</manifest>
